{% set dataTerpilih = __SELF__.dataTerpilih %}
{% set posts = dataTerpilih['posts'] %}

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Dokumen</th>
            <th>Klasifikasi</th>
        </tr>
    </thead>
    <tbody>

        {% for record in posts %}
        <tr>
            <td>
                {{ record.nama }}
            </td>
            <td>
                {% for f in record.filenya %}
                <i class="fa fa-file"></i>&nbsp;<a href="{{ f.path }}">{{ f.fileName }}</a>
                {% else %}
                <p>Tidak ada file di bagikan!</p>
                {% endfor %}
            </td>
            <td>
                {% for t in record.catnya %}
                <i class="fa fa-tag"></i>&nbsp;<a 
                    href="{{ record.generateTagUrl(this.page.id, this.controller, dataTerpilih['paramPage'], dataTerpilih['paramTag'], t) }}">{{ t.nama }}</a>
                {% else %}
                <p>Tidak ada klasifikasi data</p>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td style="text-align: right">Keterangan:</td>
            <td colspan="2">{{ record.keterangan|default("-") }}</td>
        </tr>
        {% else %}
        <p class="no-data">{{ noRecordsMessage }}</p>
        {% endfor %}
    </tbody>
</table>

{% if posts.lastPage > 1 %}
<ul class="pagination">
    {% if posts.currentPage > 1 %}
    <li class="page-item"><a class="page-link"
        href="{{ this.page.baseFileName|page({ (dataTerpilih['paramTag']) : dataTerpilih['tagTerpilih'] , (dataTerpilih['paramHalaman']): (records.currentPage-1) }) }}">
        <i class="ion-ios-arrow-thin-left"></i></a></li>
    {% endif %}

    {% for page in 1..posts.lastPage %}
    <li class="page-item {{ posts.currentPage == page ? 'active' : null }}">
        <a class="page-link" 
        href="{{ this.page.baseFileName|page({ (dataTerpilih['paramTag']) : dataTerpilih['tagTerpilih'] ,(dataTerpilih['paramHalaman']): page }) }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if posts.lastPage > posts.currentPage %}
    <li class="page-item">
        <a class="page-link" href="{{ this.page.baseFileName|page({ (dataTerpilih['paramTag']) : dataTerpilih['tagTerpilih'] ,(dataTerpilih['paramHalaman']): (posts.currentPage+1) }) }}">
                <i class="ion-ios-arrow-thin-right"></i></a></li>
    {% endif %}
</ul>
{% endif %}