
{% if tagTerpilih|length > 0 and tagTerpilihNama|length > 0 %}

<h4>
    <i class="fa fa-info-circle"></i> Daftar dokumen dengan 
    kualifikasi: <strong>{{ tagTerpilihNama }}</strong>
    <span class="pull-right"><a class="btn btn-info btn-xs" 
        href="{{ resetUrl }}">Reset</a></span>
</h4>

{% endif %}
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Dokumen</th>
            <th>Klasifikasi</th>
        </tr>
    </thead>
    <tbody>

        {% for record in posts %}
        <tr>
            <td>
                {{ record.nama }}
            </td>
            <td>
                {% if record.filenya.count() > 0 or record.clouds.count() > 0 %}
                    {% for f in record.filenya %}
                        <i class="fa fa-file"></i>&nbsp;<a href="{{ f.path }}">{{ f.fileName }}</a>
                    {% endfor %}
                    {% for f in record.clouds %}
                        <i class="fa fa-file"></i>&nbsp;<a href="{{ f.clouds_path }}">{{ f.clouds_label }}</a>
                    {% endfor %}
                {% else %}
                    <p>Tidak ada file di bagikan!</p>
                {% endif %}
            </td>
            <td>
                {% for t in record.catnya %}
                <i class="fa fa-tag"></i>&nbsp;<a 
                    href="{{ record.generateTagUrl(this.page.id, this.controller, paramPage, paramTag, t) }}">{{ t.nama }}</a>
                {% else %}
                <p>Tidak ada klasifikasi data</p>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td style="text-align: right">Keterangan:</td>
            <td colspan="2">{{ record.keterangan|default("-") }}</td>
        </tr>
        {% else %}
        <p class="no-data">{{ noRecordsMessage }}</p>
        {% endfor %}
    </tbody>
</table>

{% if posts.lastPage > 1 %}
<ul class="pagination">
    {% if posts.currentPage > 1 %}
    <li class="page-item"><a class="page-link"
        href="{{ this.page.baseFileName|page({ (paramTag) : tagTerpilih , (paramHalaman): (records.currentPage-1) }) }}">
        <i class="ion-ios-arrow-thin-left"></i></a></li>
    {% endif %}

    {% for page in 1..posts.lastPage %}
    <li class="page-item {{ posts.currentPage == page ? 'active' : null }}">
        <a class="page-link" 
        href="{{ this.page.baseFileName|page({ (paramTag) : tagTerpilih ,(paramHalaman): page }) }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if posts.lastPage > posts.currentPage %}
    <li class="page-item">
        <a class="page-link" href="{{ this.page.baseFileName|page({ (paramTag) : tagTerpilih ,(paramHalaman): (posts.currentPage+1) }) }}">
                <i class="ion-ios-arrow-thin-right"></i></a></li>
    {% endif %}
</ul>
{% endif %}