<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Nama</th>
            <th>Dokumen</th>
            <th>Klasifikasi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{ post.nama }}
            </td>
            <td>
                {% if post.filenya.count() > 0 or post.clouds.count() > 0 %}
                    {% for f in record.filenya %}
                        <i class="fa fa-file"></i>&nbsp;<a href="{{ f.path }}">{{ f.fileName }}</a>
                    {% endfor %}
                    {% for f in record.clouds %}
                        <i class="fa fa-file"></i>&nbsp;<a href="{{ f.clouds_path }}">{{ f.clouds_label }}</a>
                    {% endfor %}
                {% else %}
                    <p>Tidak ada file di bagikan!</p>
                {% endif %}
            </td>
            <td>
                    {{ "halaman daftar" ~ halamanDaftar }}
                {% for t in post.catnya %}
                <i class="fa fa-tag"></i>&nbsp;<a 
                    href="{{ this.controller.pageUrl(halamanDaftar, {tagid: t.id}) }}">{{ t.nama }}</a>
                {% else %}
                <p>Tidak ada klasifikasi data</p>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td style="text-align: right">Keterangan:</td>
            <td colspan="2">{{ post.keterangan|default("-") }}</td>
        </tr>
    </tbody>
</table>
